html{
    font-size: 62.5%; /** Reset para REMS - 62.5%=10px de 16px **/
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color:#e9e4e6;
    font-family: 'Raleway', sans-serif !important;
}

/* Bar content */

.bar{
    background-color: #048998;
    height: 6rem;
}
.bar h1 a{
    font-size: 2.5rem;
    color: #e9e4e6;
    font-family: 'Raleway', sans-serif;
}

.bar h1 a:hover{
    text-decoration: none;
    color: #e9e4e6;
}

.bar h1 i{
    font-size: 2.3rem;
}

.bar a{
    font-size: 2rem;
    color: #e9e4e6;
    font-family: 'Raleway', sans-serif;
}
.bar a:hover{
    color: black;
}



/* Sidebar Content */ 

.project-content{
    background: #3bb4c1;
    height: 100%;
}
@media (min-width: 768px){
    .project-content{
       min-height: 100vh;
    }
}

.project-content{
    padding: 4rem 0 1rem 0;  
}

.create-project{
    display: block; 
}

.create-project a{
    font-size: 2rem;
}

.project-list h2{
    font-size: 2.5rem;
    font-weight: 600;
}

.project-list ul{
    list-style: none;
    margin:0;
    padding: 1.5rem 0 0 0;
}

.project-list ul li{
    border-bottom: 1px solid #048998;
}
.project-list ul li:last-of-type{
    border-bottom: none;
}

.project-list ul li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
}

.project-list ul li a:hover{
    color: white;
}

.project-list ul li input[type="text"]{
    width: 100%;
    height: 2.3rem;
    font-size: 1.8rem;
}

.project-list ul li i{
    font-size: 1.8rem;
}

.project-list ul li i:hover{
    cursor: pointer;
}

.project-list ul p{
    font-size: 1.8rem;
}

/* Main Content */ 

.main-content{
    background-color: #e9e4e6;
    padding: 4rem 0;
    text-align: center;
}


.main-content h2{
    font-size: 2.5rem;
    font-weight: 600;
}
.main-content h2 span{
    font-weight: 400;
}

.add-task{
    background: #3bb4c1;
    margin: 3rem auto;
    border-radius: 1rem;
    padding: 4rem 2rem;  
    max-width: 80rem;
}
form .field{
    font-size: 2rem;

}
form label{
    font-weight: 500;
}
form .task-name{
    border-radius: 2rem;
    border: none;
    font-size: 1.9rem;
    padding-left: 2rem;
    height: 4rem;
    margin-bottom: 1rem;
    width: 70%
}
form .send{
    font-size: 1.7rem;
    font-weight: 500;
    min-width: 10rem;
}

.main-content h3{
    font-weight: 600;
}
.task-list{
    background: #e9e4e6;
    max-width: 80rem;
    margin: 3rem auto;
    border: 0.1rem solid black;
    padding: 2rem;
}

.task-list ul{
    list-style: none;
    margin: 0;
    padding: 1.5rem 0
}
.task-list  p{
    font-size: 1.7rem;
    margin: 0;
}
.task-list ul li{
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.task-list ul li:last-of-type {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.task-list ul li .action{
    font-size: 1.7rem;
    min-width: 10rem;
}

.task-list ul li .action i:hover{
    cursor: pointer;
}

/* Create Account and login page */
.createAccount, .login{
    background-color: #3bb4c1;
}

.createAccount-container{
    margin-top: 13rem;
}


.form-box{
    border: 1px solid black;
    min-height: 20rem;
    padding: 1rem;
    max-width: 60rem;
    margin: 0 auto;
}
@media (min-width: 575px){
    .form-box{
        padding: 4rem;
    }
}

.field input[type='text'], input[type='password']{
    width: 78%;
    border-radius: 2rem;
    border: 1px solid black;
    padding-left: 1.5rem;
}
.form-box .field a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

@media (min-width: 575px){
    .form-box .field a{
        font-size: 2.2rem;
    }    
}
.form-box .field a:hover{
    color:black;
}

.complete{
    color: #3bb4c1;
}

/* sweet alert*/
.swal2-popup{
    font-size: 1.7rem !important;
}

/* Advance bar*/
.advance-bar{
    height: 3rem;
    border: 1px solid black;
    margin: 0 auto;
    max-width: 80rem;
    background: #e4dee1
}
.percentage{
    width: 0%;
    height: 100%;
    background: #3bb4c1;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    transition: width .5s ease-in-out;
}


